<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: powderblue;
        }

        .Plaintext{
            text-align: left;
        }

        .Description{
            width: 50%;
        }

        .CreamImage1{
            float: left;
            width: 30%;
        }



    </style>
</head>
<body>
    <form action="http://localhost:5000/" method="POST">
        <div class="Description">
            <h2>About Us</h2>
            <p class="Plaintext">Cream creations is a confectionary company who's mission is to create the best
                ice cream flavors around. Cream creations was first formed in 2022 and has tailored
                itself to the desires of its customers from the very beginning
            </p>
        </div>
        <br>
        <div class="Description">
            <h2>Our Mission</h2>
            <p class="Plaintext">Our mission here at Cream creations is to allow consumers to tailor their ice cream to themselves.
                Our flavors are as unique as our customers, which is why we allow full customization on our Ideas 
                page
            </p>
        </div>

        <div>
            <img id="CreamImage1" src="../Images/Ice-Cream-Flavors.jpg"/>

        </div>

        <a href="http://127.0.0.1:5000/IceCreamHome">Create here!</a>


    
    
    
    </form>
    
</body>
</html>