<html>
    <style>
        body {
            background-color: powderblue;
        }
    </style>
    
<body>
    <form action="{{ url_for('IdeaSubmit') }}" method="POST">
        <h1>Welcome to the cream creation station!</h1>
        <br>
        <h1>New ice cream name</h1>
        <p><input type="text" name="FlavorName"/></p>

        <h1>What Flavor?</h1>
        <p><input type="text" name="FlavorType"/></p>

        <h1>Your Name</h1>
        <p><input type="text" name="CustName"/></p>

        <h1>Phone Number</h1>
        <p><input type="text" name="CustPhone"/></p>

        <h1>How much (in gallons)</h1>
        <p><input type="text" name="CreamAmount"/></p>

        <p><input type="submit" name="SubmitBtn" value="Submit"/></p>

        

    </form>

    <a href="http://127.0.0.1:5000/">Return to our Home Page</a>
    <a href="http://127.0.0.1:5000/list">To see our inventory page</a>
    
</body>
</html>