<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: powderblue;
        }

        table{
            align-content: center;
        }
    </style>
</head>
<body>
    <table border = 1>
        <thead>
            <td>Icecream Name</td>
            <td>Flavor</td>
            <td>Creator</td>
            <td>Creator phone</td>
            <td>Amount created</td>
        </thead>

        {% for row in rows %}
        <tr>
            <td>{{row["IcecreamName"]}}</td>
            <td>{{row["Flavor"]}}</td>
            <td>{{row["Creator"]}}</td>
            <td>{{row["CreatorPhone"]}}</td>
            <td>{{row["Amount"]}}</td>

        </tr>
        {% endfor %}
    </table>

    <a href="http://localhost:5000/IceCreamHome">Add your ice cream!</a>

    
</body>
</html>